<p *ngIf="intentConfigObj?.titleText" class="content-text">{{ intentConfigObj?.titleText | translate}}</p>
<mat-chip-list aria-label="Color selection">
    <mat-chip class="bookly-btn" *ngFor="let chip of intentConfigObj?.options" selected 
    (click)="onChipselect(chip.tvalue); isDisabled = true;" [ngClass]= "{ 'disable-btn' : isDisabled }" >
      {{chip.transtext | translate}}
    </mat-chip>
  </mat-chip-list>