.content-text {
    background: white;
    color: #222b45;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0 1.5rem 0.5rem;
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 500px;
    font-weight: 400;
    line-height: 1.20rem;
    margin: 20px 0!important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: -5px;
    margin: 20px 0!important;
}
@media (max-width: 690px) {
    .content-text {
       margin-top: 6% !important;
    }
}