.form-dialog input {
    padding: 5px 6px 4px !important;
    display: inline-block;
    margin: 0 !important;
    outline: none !important;
    font-size: 14px !important;
    line-height: normal !important;
    border: 1px solid silver !important;
    border-radius: 4px !important;
    width: 100% !important;
}

.form-dialog p {
    display: inline-block;
    font-weight: bold;
    padding: 0 !important;
    margin: 0 !important;
    color: #2e74dd!important;
    font-size: 14px;
}
.form-dialog button {
    background: #212529;
    width: auto !important;
    padding: 0 7px;
    text-transform: uppercase!important;
    color: white;
    font-weight: bold;
    margin: 5% auto 0;
    display: block;
}
.form-group {
    margin: 0px 0 20px;
    width: 100% !important;
    display: flex;
    flex-direction: column;
}
.bold-text {
    color: #262020!important;
    display: inline-block;
    font-weight: 700;
    padding: 0!important;
    margin: 0 0 3px!important;
}
.bold-text.mat-dialog-title {
    margin-bottom: 10px!important;
}
input.ng-invalid.ng-touched {
    border: 1px solid red !important;
  }
  .form-alert {
    color: red;
    padding: 15px 0;
    font-weight: 600;
    font-size: 15px;
  }
  .invalid-label{
    color: red !important; 
  }