<!-- <h1 class="bold-text" mat-dialog-title>{{ 'form.Header' |translate }}</h1> -->

<div mat-dialog-content class="form-dialog" >

<form [formGroup]="myForm" class="bookly-form" (ngSubmit)="onNoClick()">
  <div *ngIf="myForm.invalid&& (myForm.dirty || myForm.touched) && isSubmitClicked" class="form-alert"> {{'Register.ErrorMessage' | translate}}</div>
    <div *ngFor="let control of data?.formObj" class="form-group">
      <label class="bold-text" [ngClass]="{'invalid-label' : !control.value && isSubmitClicked}">{{ control.name | translate}}</label>
      <input *ngIf="(!control?.options || control?.options?.length == 0)" type="control.type"
        type="text"
        [formControlName]="control.name"
        [value]="control.value" [ngClass]="{'invalid-input' : !control.value && isSubmitClicked}"/>
        
        <mat-form-field appearance="outline" style="height: 35px;" *ngIf="control?.options?.length >0">
            <mat-label></mat-label>
            <mat-select [formControlName]="control.name"  disableOptionCentering panelClass="myPanelClass">
                <mat-option *ngFor='let item of control.options' [value]="item | translate"> {{item | translate}}</mat-option>
            </mat-select>  
          </mat-form-field>
        </div>
    <button mat-button (click)='safeClose()'type="submit">{{'General.Save' | translate}}</button>
  </form>
  </div>