.chat-container {
    width: 100vw;
    height: 550px;
    margin: auto;
    margin-top: 50px;
    padding: 0px;
}
.example-spacer {
    flex: 1 1 auto;
    color: transparent;
  }
.header-text {
    color: white !important;
    font-family: 'Noto Sans CJK JP','Noto Sans' !important;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 75px !important;
}
.header-logo {
    height: 65%;
    width: 65%;
    margin-right: 5%;
    max-width: 55px;
    max-height: 55px;
    border-radius: 25%;
    border: 3px solid white;
}
.header-bar {
    margin: 0 10%;
}

  