.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.panel-content-main {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 100%;
    .mat-card {
        box-shadow: none !important;
        background-color: transparent;
        padding: 16px;
    }
    .panel-header {
        display: flex;
        flex-direction: column;
        height: 210px;
        margin: 10px 10px 0px;
        width: 225px;
        padding: 0 !important;
        font-family: 'Noto Sans CJK JP';
        font-weight: 600;
    }
    .mat-content {
        flex-direction: column !important;
    }
    .main-panel {
        border-radius: 15px!important;
        border-top: 5px solid #868e96;
        border-left: 3px solid #868e96;
    }
}
.content-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}
