<div class="panel-content-main">
<mat-card *ngFor="let intent of intentConfigObj.cards">
<mat-accordion>
    <mat-expansion-panel class="main-panel" [expanded]="intent.expanded">
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          {{ intent.header | translate }}
        </mat-panel-title>
        <mat-panel-description>
          {{ intent.description | translate}}
          <mat-chip-list aria-label="Color selection">
            <mat-chip class="bookly-btn chip-btn" *ngFor="let chip of intent.options" selected (click)="(chip.tvalue) ? onChipselect(chip.tvalue):intent.expanded = !intent.expanded;scrollToBottom();">
              {{chip.transtext | translate}}
            </mat-chip>
          </mat-chip-list>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="expand-content">
        <p>{{ intent.innerContent | translate}}</p>
        <div class="content-inline" *ngFor="let item of intent.extraOptions">
            <img src="assets/images/check-mark.png" style="height: 20px;margin-right: 5px;">
            <p>{{ item | translate }}</p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
</div>
  