<mat-toolbar style="background-color: #03a9f4 !important; color: white;background: linear-gradient(to left, rgb(213 220 220), white) !important"
 fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="20" fxLayoutGap="5px" class="header-bar">
        <img src='assets/images/B2B_line.jpg' class="header-logo">
        <h3 style="font-weight: bolder;" class="header-text">LS Support Chat</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="50">
        <span fxFlex="25" class='example-spacer'></span>
        <h6 fxFlex="25" class='example-spacer header-text'>C3254H56</h6>
    </div>
  </mat-toolbar>
<app-chat></app-chat>