.content-text {
    background: white;
    color: #222b45;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0 1.5rem 0.5rem;
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 500px;
    font-weight: 400;
    line-height: 1.20rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: -5px;
    margin: 20px 0!important;
}
@media (max-width: 690px) {
    .content-text {
       margin-top: 6% !important;
    }
}
.summary {
    width: calc(100vw - 70px) !important;
}
h7 {
    float: left;
    font-weight: 600;
    color: dimgray;
}
span {
    float: right;
    color: grey;
}
.action-btn {
    background-color: #212529!important;
    color: #fff!important;
    width: 130px;
}
#messageTextSpan {
    color: #555;
    letter-spacing: 0.5px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: subpixel-antialiased;
    word-break: break-word;
    overflow-wrap: break-word;
    padding: 3px 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px!important;
    margin: 0 0 5px!important;
}
#messageTextSpan br {
    display: none !important;
}
