<div class="main-container"  fxLayout="column" fxLayoutAlign="space-between none" >
<div class="list-messages" id="msgContainer" #myScrollContainer fxFlex="75">
  <div *ngFor="let message of messages;let i = index;"  class="message-container aos-item" data-id={{i}}>
    <app-message class="message" [messageObject]="message" [text]="message.text" (languageEmitter)="onLanguageChange($event)"
     [date]="message.date" [colorBackRight]="colorBackRight" [colorFontRight]="colorFontRight"
    [colorBackLeft]="colorBackLeft" [colorFontLeft]="colorFontLeft" [owner]="message.userOwner"
    [ngClass]="{'left-message': !message.userOwner, 'right-message': message.userOwner}" ></app-message>
   
  </div>
</div>

<div class="type_msg" fxFlex="20" [ngClass]="{'non-editable': (currentIntent == openFormIntent && !userName)}">
  <div class="input_msg_write">
    <div *ngIf="mobileInputObj.includes(currentIntent)" style="float: left;width: 93%;font-size: 16px;">
      <input [(ngModel)]="mobileNumber" class="form-control write_msg" id="phoneInput" type="text" 
      [ng2TelInputOptions]="{initialCountry: 'jp'}" ng2TelInput
    (countryChange)="onCountryChange($event)" (keyup.enter)="onKey($event)"/>
    </div>
    <input type="text" *ngIf="!mobileInputObj.includes(currentIntent)" class="write_msg" [(ngModel)]="textInput" (keyup.enter)="onKey()" [placeholder]="'General.TypeMessage' |translate"/>
    <button class="msg_send_btn" type="button" (click)="saveTextMessage()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
  </div>
</div>
</div>
