.summary-content {
    background: #fff;
    color: #222b45;
    display: inline-block;
    border-radius: 10px;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0 1.5rem 0.5rem;
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 480px;
    box-shadow: 0 2px 8px 0 #63636333;
    margin-top: 7%;
    line-height: 25px;
}

.summary-btn {
    margin-top: 10px;
    padding: 5px 10px !important;
    min-width: 50px;
    min-height: 34px;
}