
<div  fxLayout="row" fxLayoutAlign="start start">
    <div style="float: left;width: 50px;border-radius: 50%;margin-bottom: 20px;">
        <img src="assets/images/chat_bot_black.png" style="float: left;width: 40px;border-radius: 50%;">
    </div>
    
    <div class="summary-content">
        <p>{{ summaryData.header | translate}}</p>
        <div *ngFor="let item of formFieldArray">{{item.name | translate}} : <b><span>{{item.value}}</span></b><br></div>
        <div fxLayout="row" fxLayoutAlign="space-around start" *ngIf="summaryData?.confirmMsg">
            <button mat-raised-button class="summary-btn bookly-btn" (click)="confirmSummary(summaryData.confirmMsg)">{{'General.Save' | translate}}</button>
            <button mat-raised-button class="summary-btn bookly-btn" (click)="openDialog()"><mat-icon>edit</mat-icon></button>
        </div>
    </div>
    </div>